/*ESTILOS NO HAY ELEMENTOS EN UNA LISTA*/
.contenedor_no_existe_elementos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
    font-size: 24px;
}

.contenedor_no_existe_elementos_izquierda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #aaaaaa;
    font-size: 24px;
}

.contenedor_paginacion{
    padding: 0px 10px;
    margin: 10px;
}

.boton_suelto{
    border-radius: 5px;
    border: none;
    background-color: #189bb6;
    color: white;
    padding: 5px 8px;
    font-weight: 500;
    cursor: pointer;
    font-size: .9rem;
    line-height: 1.5;
}

.boton_suelto:hover{
    background-color: #1da4be;
}
