.grid_estado_orden {
    display: grid;
    grid-template-areas: "grid_estado_0 grid_estado_1  grid_estado_2 grid_estado_3";
    grid-gap: 20px;
}

.grid_estado_orden .estilo_estado_orden {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    color: white;
}

.grid_estado_orden .estilo_estado_orden:hover {
    opacity: 0.7;
}

@media (max-width: 900px) {
    .grid_estado_orden {
        grid-template-areas:
            "grid_estado_0 grid_estado_1"
            "grid_estado_2 grid_estado_3";
        grid-gap: 10px;
    }
}
