/*CENTRAR ELEMENTOS*/
.contenedor_contacto {
    background-color: #189bb6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    color: white;
    align-items: center;
}

.contenedor_contacto h3{
    font-size: 30px;
    font-weight: 600;
}

.contenedor_contacto span{
    font-size: 20px;
    padding: 10px 0px;
}
