.tabla_administrador {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}

.tabla_administrador a{
    cursor: pointer;
}

.tabla_administrador td,
.tabla_administrador th {
    padding: 15px 5px;
}

.tabla_administrador tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla_administrador tr:hover {
    background-color: #ddd;
}

.tabla_administrador th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #f6fafc;
    font-weight: 600;
    border: 1px solid rgb(239, 242, 245);
}

.tabla_administrador .tabla_editar {
    color: green;
    font-weight: 500;
}

.tabla_imagen {
    height: 30px;
    display: flex;
    justify-content: center;
}

.tabla_imagen img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

/*SWITCH*/
.tabla_switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 20px;
}

.tabla_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.tabla_switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.tabla_switch .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.tabla_switch input:checked + .slider {
    background-color: #2196f3;
}

.tabla_switch input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

.tabla_switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.tabla_switch .slider.redondo {
    border-radius: 34px;
}

.tabla_switch .slider.redondo:before {
    border-radius: 50%;
}
