/*CONTENEDOR NAVBAR ADMINISTRADOR*/
.contenedor_navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    z-index: 50;
}

/*ESTILOS NAV ADMINISTRADOR*/
nav {
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 99;
}

/*CONTENEDOR LOGO*/
.navbar .contenedor_menu_link .sidebar_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.navbar .contenedor_menu_link .sidebar_logo i {
    font-size: 30px;
    display: none;
}

.navbar .contenedor_menu_link .sidebar_logo img:first-child {
    width: 120px;
}

/*CONTENEDOR IMAGEN PERFIL*/
.contenedor_administrador_sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.contenedor_administrador_sidebar img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.contenedor_administrador_sidebar p {
    font-size: 14px;
    color: white;
}

.contenedor_administrador_sidebar a {
    background-color: white;
    font-weight: bold;
    font-size: 12px;
    color: #808080;
    border-radius: 50px;
    padding: 2px 8px;
}

.contenedor_administrador_sidebar a:hover {
    background-color: #5ad7f7;
    color: white;
}

/*CONTENEDOR HAMBURGUESA*/
.contenedor_hamburguesa {
    grid-area: contenedor_hamburguesa;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

.contenedor_hamburguesa i {
    font-size: 25px;
    cursor: pointer;
}

/*CONTENEDOR LOGO*/
.contenedor_logo {
    grid-area: contenedor_logo;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.contenedor_logo img {
    width: 120px;
}

/*CONTENEDOR MENU*/
.navbar .contenedor_menu_link {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    display: block;
    max-width: 200px;
    width: 100%;
    background: #189bb6;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    height: 100vh;
}

.navbar hr {
    border-color: #51b5cf;
}

.contenedor_menu_link::-webkit-scrollbar {
    display: none;
}

/*CONTENEDOR ICONOS*/
.contenedor_iconos {
    grid-area: contenedor_iconos;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.contenedor_iconos i {
    font-size: 30px;
    cursor: pointer;
}


@media (max-width: 900px) {
    .navbar {
        display: grid;
        width: 100%;
        max-width: 100%;
        grid-template-areas: "contenedor_logo contenedor_iconos contenedor_hamburguesa";
        grid-template-rows: 110px;
        grid-template-columns: 150px 1fr 50px;
        height: 110px;
    }

    .contenedor_hamburguesa {
        display: flex;
    }

    .contenedor_logo {
        display: flex;
    }

    .contenedor_iconos {
        border-bottom: 1px solid rgba(129, 129, 129, 0.2);
    }

    .navbar .contenedor_menu_link {
        left: -100%;
    }

    .navbar .contenedor_menu_link .sidebar_logo i {
        display: block;
    }
}

@media (max-width: 500px) {
    .navbar {
        grid-template-columns: 120px 1fr 40px;
    }

    .contenedor_iconos i {
        font-size: 25px;
    }

    .contenedor_logo img {
        width: 100px;
    }
}
